# Alive & Thrive
## Viet Nam Data: Women & Children Files - Charts
## Prepared by Aaron Wise; aaron@a3di.dev
### Version: 12 July 2022

In [ ]:
import pandas as pd

pd.set_option("display.max_rows", 1500)
pd.set_option("display.max_columns", None)

from tabulate_vars import read_csv_file
from charts import generate_charts

from aw_analytics import mean_wt

### --- WOMEN ---

In [ ]:
# Set parameters
country = 'LAO'
recode = 'women'

# Read in combined file
df = read_csv_file(country, recode, file_type='combined')

In [ ]:
var_dep_list = ['anc_4_visits', 'anc_3_components', 'inst_delivery', 'caesarean_del', 'pnc_mother', 'low_bw', 'early_bf', "iron_supp"] 

ind_var_list = ['residence', 'region', 'mother_edu', 'wealth_q', 'eth_hoh', 'elderly_hoh', 'sex_hoh']

In [ ]:
for var in var_dep_list:
    for ind_var in ind_var_list:
        generate_charts(df, var, ind_var, recode)

### --- CHILDREN ---

In [ ]:
# Set parameters
country = 'LAO'
recode = 'children'

# Read in combined file
df = read_csv_file(country, recode, file_type='combined')

In [ ]:
var_dep_list = ['excl_bf', 'cont_1223_bf', 'mdd_ch', 'mmf_ch', 'mad_ch', 'stunting_ch', 'wasting_ch', 'overweight_ch'] 

ind_var_list = ['sex_ch', 'residence', 'region', 'mother_edu', 'wealth_q', 'eth_hoh', 'elderly_hoh', 'sex_hoh']

In [ ]:
for var in var_dep_list:
    for ind_var in ind_var_list:
        generate_charts(df, var, ind_var, recode)

In [8]:
var_dep = 'cont_1223_bf'
ind_var = 'wealth_q'

weight = 'chweight'

df.groupby(['Year', ind_var]).apply(mean_wt, var_dep, wt = weight).to_frame(var_dep)

               cont_1223_bf
Year wealth_q
2000 Middle            61.5
     Poor              70.9
     Poorest           79.7
     Rich              58.3
     Richest           51.7
2006 Middle            64.1
     Poor              75.9
     Poorest           77.0
     Rich              53.2
     Richest           36.3
2012 Middle            53.7
     Poor              68.4
     Poorest           77.2
     Rich              39.7
     Richest           29.0
2017 Middle            39.6
     Poor              52.6
     Poorest           66.5
     Rich              25.6
     Richest           19.4